body {
    margin: 0 40px;

}

* {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 16px 64px 16px;
}

header img {
    width: 61px;
}

nav ul {
    list-style: none ;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 71px;
    margin: 0;
}

nav ul li {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    height: 71px;
    width: 144px;
}

nav ul div {
    height: 3px;
    background-color: #0065FC;
    width: 0%;
    transition: 0.5s;
}

nav a:hover + div {
    width: 100%;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
}

nav a:hover {
    color: #0065FC;
}

a:visited {
    color: black;
}

section {
    margin-top: 40px 0;
    margin: 16px;
}

h1 {
    margin-bottom: 8px;
}

h1 + p {
    margin-top: 8px;
}

section {
    margin-bottom: 24px;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 32px;
}

.wrap-location-icon {
    background-color: #D9D9D9;
    min-width: 50px;
    min-height: 49px;
    border-radius: 15px 0 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container form {
    display: flex;
}

.search-container input{
    height: 100%;
    width: 100%;
    border: none;
    font-weight: 700;
    padding: 0 16px;
}

.search-container input[type="search"] {
    border-top: solid 1px #D9D9D9 ;
    border-bottom: solid 1px #D9D9D9;
}

.search-container input[type="search"]:focus-visible {
    outline: none;
    border-top: solid 1px #0065FC;
    border-bottom: solid 1px #0065FC;
    border-left: solid 1px #0065FC;

}

.search-container input[type="submit"] {
    font-weight: 700;
    color: white;
    background-color: #0065FC;
    border-radius: 0 15px 15px 0;
    padding: 0 16px;
    cursor:pointer;
}

.filters-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    gap: 30px;
}

.wrapper-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #D9D9D9;
    border-radius: 25px;
    padding: 12px 20px;
    gap: 12px;
    cursor: pointer;
}

.wrapper-filter:hover {
    background-color: #DEEBFF;
}

.filters-container .fa-solid, 
.wrapper-amount-research-result .fa-solid {
    color: #0065FC;
}

.filters-container div {
    font-weight: 700;
}




.h2 {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}